
.cloud{
    background-size: 100%; 
    width:50px;
    height:50px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cloud--one {
    animation-name: fly-one;
    animation-duration:10s;
    animation-delay: -3s;
}

.cloud--two{
    animation-name: fly-two;
    animation-duration:13s;
    animation-delay:-2s;
}

.cloud--three{
    animation-name: fly-four;
    animation-duration: 10s;
    animation-delay: -9s;
}

.cloud--four{
    animation-name: fly-three;
    animation-duration: 13s;
    animation-delay: 0s;
}


@keyframes fly-one {
	0% {
		transform: scale(0.2) translateX(0vw) translateY(-100vh);
	}
    20%{
        transform: scale(0.2) translateX(100vw) translateY(-70vw);
    }
    30%{
        transform: scale(0.2) translateX(150vw) translateY(-90vw);
    }
    100%{
        transform: scale(0.2) translateX(400vw) translateY(-100vh);
    }
}

@keyframes fly-two {
    0%{
        transform: scale(0.2) translateX(0vw) translateY(10vh);
    }
    30% {
		transform: scale(0.15) translateX(200vw) translateY(-50vh);
	}
    100% {
		transform: scale(0.15) translateX(430vw) translateY(10vh);
	}
}
@keyframes fly-three {
    0%{
        transform: scale(0.15)translateX(400vw) translateY(2vh);
    }
    100% {
        transform:scale(0.2) translateX(80vw) translateY(25vh);
	
	}
}

@keyframes fly-four {
    0%{
        transform: scale(0.2)  translateX(400vw) translateY(-10vh);
    }
    100% {
		transform: scale(0.15) translateX(0vw) translateY(-10vh);
	}
}
.slogan-box{
    position: absolute;
    z-index: 1;
    display:flex;
    align-items:left;
    top: 54vh;
    left: 1vh;
}

svg text{
    /* position:absolute;
    width:108px;
    height:24px;
    left:347px;
    top:585px; */
    font-family: 'InkLipquid';
    font-size: 5rem;
    line-height: 242px;
    fill:transparent;
    stroke-dasharray: 326px;
    animation: stroke 0.5s linear;
    animation-fill-mode: forwards;
}

svg text:nth-child(1){
    animation-delay:0.1s;
}
svg text:nth-child(2){
    animation-delay:0.3s;
}
svg text:nth-child(3){
    animation-delay:0.5s;
}
svg text:nth-child(4){
    animation-delay:0.7s;
}
svg text:nth-child(5){
    animation-delay:0.9s;
}
svg text:nth-child(6){
    animation-delay:1.1s;
}
svg text:nth-child(7){
    animation-delay:1.3s;
}
svg text:nth-child(8){
    animation-delay:1.5s;
}
svg text:nth-child(9){
    animation-delay:1.7s;
}
svg text:nth-child(10){
    animation-delay:1.9s;
}
svg text:nth-child(11){
    animation-delay:2.1s;
}
svg text:nth-child(12){
    animation-delay:2.3s;
}
svg text:nth-child(13){
    animation-delay:2.5s;
}
svg text:nth-child(14){
    animation-delay:2.7s;
}
svg text:nth-child(15){
    animation-delay:3.0s;
}

@keyframes stroke {
    0%{
        stroke:black;
        stroke-width:3px;
        stroke-dashoffset: 326px;
    }
    70%{
        fill:transparent;
    }
    98%{
        stroke:black;
        stroke-width:3px;
    }
    100%{
        fill:black;
        stroke-dashoffset:0px;
    }
}


.card-cate{
    position:absolute;
    width:1000px;
    top:969px;
}
